* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  line-height: 1.6;
}

.navegador {
  background-image: url("/assets/images/Fondo.png"); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;        
  background: rgba(0, 0, 0, 0.5);
  width: 100%;            
}

.logo span {
  color: #27adeb;
  
}


/* BARRA DE NAVEGACIÓN */
.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 5px 10px;
  transition: 0.3s;
}

.nav-menu a:hover,
.nav-menu a.active {
  background-color: #00a8b5; 
  border-radius: 3px;
}

/* TEXTO CENTRADO */
.texto {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.texto h1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.4;
  max-width: 800px;
}

.texto1 {
  background-color: rgba(37, 55, 70, 0.7); 
  padding: 8px 15px;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 400;
}

.texto2 {
  background-color: rgba(37, 55, 70, 0.7); 
  padding: 8px 15px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
}

/* items */

.items{
  background-color:#00aeffbe;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.item1{
  
  width: 18vw;
  margin-left: 20px;
}

.item1 img{
padding: 15px;
}

.item1 p{
  
 font-size:12px;
}